.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: black;
  border-bottom: 5px solid teal;
}

.nav-link {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}

.nav-link:hover {
  color: rgb(235, 137, 137);
}

.selected {
  color: rgb(235, 137, 137);
  border-bottom: 2px solid rgb(235, 137, 137);
  transition: border-bottom 0.5s ease-in-out;
}
