.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: black;
  border-bottom: 5px solid teal;
}

.nav-link {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}

.nav-link:hover {
  color: rgb(235, 137, 137);
  transform: translateY(-2px);
}

.selected {
  color: rgb(235, 137, 137);
  /* border-bottom: 2px solid rgb(235, 137, 137);
  transition: border-bottom 0.5s ease-in-out; */
}

.burger {
  display: flex;
  flex-direction: column;
}

.burger div {
  width: 30px;
  height: 2px;
  background-color: white;
  margin: 3px;
  display: none;
  cursor: pointer;
  transition: all ease 0.5s;
}

.open:nth-child(1) {
  transform: rotate(45deg) translateY(12px);
}

.open:nth-child(2) {
  opacity: 0;
}

.open:nth-child(3) {
  transform: rotate(-45deg) translateY(-12px);
}

.close:nth-child(1) {
  transform: rotate(0);
  opacity: 1;
}

.close:nth-child(2) {
  opacity: 1;
}

.close:nth-child(3) {
  transform: rotate(0);
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .nav-link {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-link {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: teal;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    cursor: pointer;
    transform: translateX(100%);
  }
  .nav-link {
    opacity: 0;
  }

  .burger div {
    display: block;
  }
}
