body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.masthead {
  width: 100%;
  align-content: center;
  /* height: 500px; */
}

.section-title {
  padding-top: 0em;
}

.section-charts-container {
  padding-top: 0em;
}

.form {
  margin: 0 auto;
  padding-top: 5em;
}

.section-container-programmes {
  padding-top: 5em;
}

.container-card {
  padding-top: 5em;
}

#tool_eatwell {
  padding-top: 5em;
  height: 800px;
}

.masthead-container {
  position: relative;
  text-align: center;
  height: 500px;
}

.highlight {
  background-color: #fff2ac;
  background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%);
  font-family: "Helvetica Neue";
  position: absolute;
  bottom: 50px;
  left: 16px;
}
